<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maya AI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <nav>
            Maya AI. Shaping the future.
        </nav>
        
        <!-- <div class="mic-container">
            <div class="circle">
              <i class="fas fa-microphone">
                <img height="40" src="{% static 'assets/images/icons8-microphone.gif' %}" alt="">
              </i>
            </div>
          </div> -->
          

    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>

</html>

